/* todo.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

h1 {
  color: #333;
  margin-bottom: 20px; /* Add some space below the heading */
  text-align: center;
}

.listitem1 {
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

li:hover {
  background-color: #f1f1f1;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  align-items: center;

}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
}

button:last-child {
  background-color: #ff4c4c;
}

button:last-child:hover {
  background-color: #e43b3b;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}
